<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Officer {{userId}}</title>
</head>
<body data-userId="{{userId}}">

    <h1>Hello Officer {{userId}}</h1>

    <h4 id="notification">

    </h4>

    <div id="copDetails">

    </div>
    
    <div id="map">

    </div>

    <button onclick="helpCivilian()">Help Civilian</button>
    
<!-- Load socket.io client library -->
<script src="/socket.io/socket.io.js"></script>

<!-- Load Axios from a CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    const socket = io();

    // Fetch userId from the data-atribute of the body tag
    const userId = document.body.getAttribute("data-userId");

    // Fire a 'join' event and send your userId to the server, to join a room - room-name will be the userId itself!
    socket.emit("join", {userId: userId});

    // Declare variables
    let requestDetails = {};
    let copDetails = {};
    let map, marker;

    axios.get(`/cops/info?userId=${userId}`)
         .then(response => {
            copDetails = response.data.copDetails;
            copDetails.location = {
                address: copDetails.location.address,
                longitude: copDetails.location.coordinates[0],
                latitude: copDetails.location.coordinates[1]
            };
            document.getElementById('copDetails').innerHTML = 
                `Display Name: ${copDetails.displayName}
                 Address: ${copDetails.location.address}`;
         })
         .catch(error => {
            console.error(error);
         })

    socket.on('request-for-help', eventData => {
        requestDetails = eventData;

        document.getElementById("notification").innerHTML = 
        `Civilian ${requestDetails.civilianId} is being attacked and needs help
         They are at ${requestDetails.location.address}`;
    });

    function helpCivilian(){
        socket.emit('request-accepted', {
            requestDetails: requestDetails,
            copDetails: copDetails
        })
    }

</script>

</body>
</html>